.contactPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 500px;
    height: 100vh;
}

.searchInput {
    margin-bottom: 15px;
}

.contactWrapper {
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #8f8f8f;
    width: 440px;
    height: 90px;
    background-color: #efefef;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black 1px solid;
}

.contactWrapper:not(:last-child) {
    border-bottom: none;
}

.userPhotoWrapper img {
    background-color: #efefef;
    width: 40px;
    height: 40px;
    border-radius: 50px 50px;
}

.userPhotoWrapper {
    display: inline-block;
}

.contactData {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactData div:first-child {
    margin-bottom: 5px;
}

.contactData div:last-child {
    opacity: 50%;
}


.editContactButton {
    width: 60px;
    height: 27px;
    color: blue;
    border: 1px blue solid;
    border-radius: 3px;
}

.deleteContactButton {
    width: 60px;
    height: 27px;
    color: #da0000;
    border: 1px #da0000 solid;
    border-radius: 3px;
}

.deleteButtonOpacity {
    opacity: 50%;
}

.confirmContactButton {
    border: 2px blue solid;
    color: blue;
    border-radius: 3px;
    height: 27px;
    width: 60px;
    font-weight: 400;
    font-size: 12px;
}

.validationErrorEdit {
    position: absolute;
    top: -14px;
    right: 28px;
    color: red;
    font-size: 11px;
    opacity: 70%;
    font-weight: 700;
}
